
/*google fonts
.google-fonts {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}*/

html {
    box-sizing: border-box;
}


body {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    box-sizing: border-box;
    
}

/*header*/
.headermn {
    display: flex;
    justify-content: space-between;
}

nav {
    font-size: 34px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 32px 16px; 
}

nav > ul {
    margin: 0;
    padding: 0 30px;
    display: flex;
    list-style: none;
}

nav > ul > li {
    margin: 0;
    padding: 0 10px;
}

h1 {
    padding: 0 30px;
    font-size: 34px;
    border: 2px solid;
    
}

#mainimg {
    width: 100%;
}

/*about,works共通*/
.ttl1 {
    text-align: center;
    font-size: 34px;
}

/*about*/
#about > #ab {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

#name {
    font-size: 24px;
    padding-left: 10px;
}

#prfl {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: center;
    padding-left: 30px;
}

#prfl > ul {
    padding-left: 50px;
}

#ab > img {
    width: 200px;
    height: 200px;
}

/*works*/

#works {
    max-width: 752px;
    margin: auto;

}

#works > #wk {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#wk > .wb {
    width: 33%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;

}

#wk > .wb > p {
    font-size: 18px;
}

footer {
    text-align: center;
    font-size: 18px;
}

/*レスポンシブデザイン*/
@media screen and (max-width:767px) {

 body {
    width: 100%;
 } 
  
 .headermn > h1{
    width: 50%;
 }

 .headermn > ul {
    width: 50%;
 }

 .headermn > img {
    width: 100%;
 }

 
 #about > #ab {
    display: flex;
    flex-direction: column;
    align-items: center;

 }

 #about > #ab >img {
    margin: auto;
 }

 #works > #wk{
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 #wk > .wb {
    width: 100%;
 }

    
}