
/*google fonts*/
.noto-sans-jp- {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

nav {
    font-size: 34px;
    display: flex;
    justify-content: space-between;
    left: 230px;
    padding: 32px 16px; 
}

h1 {
    font-size: 34px;
    color: blue;
    border: solid;
    
}

#mainimg {
    width: 100px;
    height: 100px;
    margin-top: 140px;
}

#works {
    display: flex;
}


